/* For small screens (max-width: 700px) */
@media (max-width: 700px) {
  body {
    padding: 0;
  }
}

/* For even smaller screens (max-width: 500px) */
@media (max-width: 500px) {
  body {
    width: 100%;
  }
}

/* Styles for the .date class */
.date {
  color: white;
  display: flex; /* Use proper property values without quotes */
  flex-direction: row; /* Use proper property values without quotes */
}

.date strong {
  margin-right: 10px;
}
